{% extends "index.html" %} {% block content %}
<div class=" mx-auto my-3 p-4 bg-dark" style="width: 400px">
  <h2 class="text-center text-primary">New Ninja</h2>
  <form action="/ninjas" method="POST">
    <label class="text-light" for="dojos">Dojo:</label>
    <select class="form-select" id="dojos" name="id">
        {% for dojo in dojos %}
        {% if loop.index==1 %}
        <option selected value="{{dojo.id}}">{{dojo.name}}</option>
        {% else %}
        <option value="{{dojo.id}}">{{dojo.name}}</option>
        {% endif %}
        {% endfor %}
        </select>
    <div class="mb-3">
      <label class="text-light" for="first_name" class="form-label">First name:</label>
      <input type="text" id="first_name" class="form-control" name="first_name"/>
    </div>
    <div class="mb-3">
      <label class="text-light" for="last_name" class="form-label">Last name:</label>
      <input type="text" id="last_name" class="form-control" name="last_name"/>
    </div>
    <div class="mb-3">
      <label class="text-light" for="age" class="form-label">Age:</label>
      <input type="text" id="age" class="form-control" name="age"/>
    </div>
    <button type="submit" value="submit" class="btn btn-primary">Create</button>
  </form>
  <a href="/dojos" class="btn btn-primary mt-4">Home</a>
</div>

{% endblock %}
